target
*.iml
.idea/
*.bak
docker/data
docker/www/oss
!docker/www/oss/mnjs
.npminstall
.project
npm-debug.log
.log
.DS_Store

bower_components/
node_modules/
*.sublime-workspace
/docker/www/bigdata/node_modules/
/docker/logs/
